@page "/listEleve"


<div>
    @if (MesEleves == null)
    {
        <span>Liste en cours de chargement ...</span>
    }
    else
    {
        @foreach (var eleve in MesEleves.Select(e=> new EleveViewModel(e)).ToList())
        {
            <DetailListEleve MonEleve="@eleve"></DetailListEleve>
        }
    }
</div>
